---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/astro/Header.astro';
---

<Layout title="Cristian Fonseca">
	<main class="pt-20 items-center flex flex-col px-4 w-screen">
		<Header />
	</main>
</Layout>

