---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/astro/Header.astro';
---

<Layout title="Cristian Fonseca">
	<main class="pt-20 items-center flex flex-col px-4 w-screen">
		<Header />
		<section class="flex items-center max-w-[330px] mb-8 flex-col">
			<a href="#" class="my-1.5 dark:bg-[#333] dark:hover:bg-[#444] bg-[#eee] hover:bg-[#ddd] w-full px-5 py-2.5 rounded-lg text-center transition-all duration-200">
				<span class="dark:text-white text-black">
					<span class="mr-2.5"> 🖤 </span>
					Example
				</span>
			</a>
		</section>
	</main>
</Layout>

