---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/astro/Header.astro';
import SectionLink from '@/components/astro/SectionLink.astro'
---

<Layout title="Cristian Fonseca">
	<main class="pt-20 items-center flex flex-col px-4 w-screen">
		<Header />
		<section class="flex items-center max-w-[330px] mb-8 flex-col">
			<SectionLink emoji="🖤" text="Example text" href="#"/>
			<SectionLink emoji="🖤" text="Example text" href="#"/>
			<SectionLink emoji="🖤" text="Example text" href="#"/>
			<SectionLink emoji="🖤" text="Example text" href="#"/>
			<SectionLink emoji="🖤" text="Example text" href="#"/>
		</section>
	</main>
</Layout>

