---
import BaseHead from '@/components/astro/BaseHead.astro';

export interface Props {
	title: string;
	image: string;
	description: string
}

const { title,image,description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="no-touch">
	<BaseHead title={title} description={description} image={image} />
	<body class="dark:bg-[#141414] bg-[#fff]">
		<slot />
	</body>
</html>
